<footer>
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="social-links">
                    <li>
                        <a class="btn btn-social-icon btn-lg btn-twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-lg btn-facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-lg btn-google">
                            <span class="fa fa-google"></span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-social-icon btn-lg btn-github">
                            <span class="fa fa-github"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2016 by Finch. All rights reserved.
            </p>
        </div>
    </div>
</footer>