<div ng-controller="ShellController as vm">
    <header>
        <div ng-include="'./app/layout/nav-bar.html'"></div>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h1>Hello on ngBlog</h1>
            <p>
                <h1>{{vm.test}}
                    <small>asd</small>
                </h1>
            </p>
        </div>
        <div class="jumbotron">
            <h1>Hello on ngBlog</h1>
            <p>
                <h1>{{vm.test}}
                    <small>asd</small>
                </h1>
            </p>
        </div>
    </div>
    
    <div ng-include="'./app/layout/footer.html'"></div>
</div>